/* 放index页面的样式 */
.banner{
    height: 500px;
    background-color: #f5f5f5;
}
.banner .wrapper{
    position: relative;
    height: 500px;
    background-color: pink;
}
/* 侧导航 */
.banner .aside{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, .8);
}
.banner .aside li{
    height: 50px;
    line-height: 50px;
}
.banner .aside a{
    position: relative;
    padding-left: 36px;
    padding-right: 19px;
    display: block;
    /* width: 250px; */
    height: 50px;
    color: #fff;
}
.banner .aside a span{
    margin-left: 15px;
    font-size: 14px;
}
.banner .aside a:hover{
    background-color:#27ba9b ;
}
.banner .aside a::after{
    content: '';
    position: absolute;
    right: 19px;
    top: 19px;
    width: 6px;
    height: 11px;
    background-image: url(../images/sprites.png);
    background-position: -80px -110px;
}
/*箭头 */
.prev,
.next{
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .2);
    background-image: url(../images/sprites.png);
   
    border-radius: 50%;
}
.prev{
    left: 260px;
    background-position: 14px -60px;
}
.next{
    right: 10px;
    background-position: -23px -60px;
}
/* 圆点 */
.banner ol{
    position: absolute;
    left: 680px;
    bottom: 30px;
    width: 200px;
    height: 10px;
}
.banner ol li{
    float: left;
    margin-right: 24px;
    width: 10px;
    height: 10px;
    background-color:rgba(255, 255, 255, 0.4);
    border-radius: 50%; 
    cursor: pointer;
}
.banner ol .current{
    background-color: #fff;
}
/* 标题 */
.goods .hd{
    height: 114px;
   line-height:114px;
}
.goods .hd h2{
float: left;
font-size: 29px;
font-weight: 400;
height: 114px;
}
.goods .hd a{
    float: right;
    color: #999;
}
.goods .hd h2 span{
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}
.goods .hd a::after,
.shengxian .hd .more::after
{
    content: '';
    display: inline-block;
    margin-left: 13px;
    width: 7px;
    height: 13px;
    background-image: url(../images/sprites.png);
    background-position:  0 -110px;
    vertical-align: middle;
}
.goods .bd li{
    position: relative;
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    text-align: center;
}
.goods .bd li:last-child{
    margin-right: 0;
}
.goods .bd li img{
    width: 304px;
}
.goods .bd li h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}
.goods .bd li div{
    color: #9a2e1f;
    font-size: 17px;
}
.goods .bd li span{
    font-size: 23px;
}
.goods .bd li b{
    position: absolute;
    left: 17px;
    top: 18px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px;
    font-size: 18px;
    color:  #27ba9b;
    font-weight: 400;
    line-height: 24px;
}
.popular .hd{
    height: 114px;
    line-height: 114px;
}
.popular .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}
.popular .hd h2 span{
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}
.popular .bd li{
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 420px;
    background-color: #ffffff;
    text-align: center;
}
.popular .bd li:last-child{
    margin-right: 0;
}
.popular .bd li img{
    width: 304px;
}
.popular .bd li h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 21px;
    color: #333;
}
.popular .bd li div{
    font-size: 16px;
    color: #999;
}
.brand-goods{
    height: 466px;
    background-color: #f5f5f5;
}
.brand-goods .wrapper  .ad{
    position: relative;
    height: 114px;
    line-height: 114px;
}
.brand-goods .wrapper .ad h2{
    float: left;
font-size: 29px;
font-weight: 400;
height: 114px;
}
.brand-goods .wrapper .ad h2 span {
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}
.brand-goods .wrapper .bd li{
    margin-right: 5px;
    float: left;
    width: 244px;
    height: 351px;
}

.brand-goods .wrapper .bd li img{
    height: 306px;
}
.brand-goods .wrapper .bd li:last-child{
    margin-right: 0;
}
.many,
.most{
float: right;
position: absolute;
top: 79px;
width: 20px;
height: 20px;
background-image: url(../images/sprites.png);
background-color:#e2e2e2 ;
}
.many{
    left: 1191px;
    background-position: 1px -71px;
}
.most{
    left: 1223px;
    background-position: -33px  -71px;
}
.brand-goods  .wrapper .ad a:hover{
    background-color: #27ba9b;
}
.shengxian .hd{
    height: 96px;
    line-height: 96px;
}
.shengxian .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
}
.shengxian .hd .more{
    float: right;
    color: #999;
}
.shengxian .hd ul{
    float: right;
    margin-right: 65px;
}
.shengxian .hd ul li{
    float: left;
}
.shengxian .hd li a{
    padding: 2px 7px;
    margin-left: 6px;
}
.shengxian .hd li a:hover{
    background-color:#27ba9b ;
    color: #fff;
}
.shengxian .bd .left{
    float: left;
    width: 240px;
    height: 610px;
    background-color: pink;
}
.shengxian .bd .right{
    float: left;
    width: 1000px;
    height: 610px;
    
}
.shengxian .bd .right li{
    float: left;
    margin-left: 37px;
    margin-top: 8px;
    width: 205px;
    height: 292px;
   
}
.shengxian .bd .right img{
    height: 184px;
}
.shengxian .bd .right h3{
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
}
.shengxian .bd .right div{
    font-size: 17px;
    color: #9a2e1f;
}
.shengxian .bd .right span{
    font-size: 22px;
    color: #9a2e1f
}